.testimonial-section{
background-image: url('../../../assets/home/Background.png');
background-size: cover;
background-position: top;
height: 700px;
padding-top: 140px;
}

.testimonial-content {
    background: #FFFFFF;
    border: 1px solid #E5F0F9;
    box-shadow: 0px 10px 20px rgba(154, 173, 182, 0.3);
    border-radius: 5px;
    padding: 20px;
}
.testimonial-content img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.testimonial-content h6 {
    color: #1A1A2B;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.date {
    color: #797995;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 !important;
  
}
.testimonial-rating{
    color: #2697FF;
    font-size: 15px;
}
.testimonial-section p {
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:  #1A1A2B;
}