.workflow-section{
    padding: 80px 0;
}
.circle{
    position: relative;
}
.inner-content img{
    width: 90%;
}
.inner-content{
    position: absolute;
    top: 18%;
    left: 25%;
    z-index: -999;
}
.circle-1{
    position: absolute;
    top: 22%;
    left: 15%;
    right: 15%;
}
.circle-2{
    position: absolute;
    top: 35%;
    left: 15%;
    right: 15%;
    bottom: 20%;
}
.circle-3{
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    bottom: 20%;
}
.circle p{
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top:25px;
}
.circle h5{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}
.common-btn{
    background: #2697FF;
    color:white;
    text-transform: capitalize;
    border: 0;
    border-radius: 5px;
    padding: 10px 35px;
   font-weight: 600;
   font-size: 18px;
}
@media screen and (max-width:1399px) {
    .circle-1{
        top: 18%;
    }
    .circle-3{
        top: 20%;
    }
}
@media screen and (max-width:1197px) {
    .circle h5{
        font-size: 22px;
    }
    .circle p{
       margin-top: 10px;
       font-size: 14px;
    }
    .circle-1{
        position: absolute;
        top: 19%;
        left: 10%;
    }
    .circle-2{
        position: absolute;
        top: 28%;

    }
    .circle-3{
        top: 20%;
    }
    .inner-content img{
        width: 75%;
    }
}
@media screen and (max-width:950px) {
    .circle-1{
        top: 25%;
    }
    .circle-2{
        top: 30%;
    }
    .circle-3{
        top: 30%;
    }
    .inner-content img{
        width: 80%;
    }
}
@media screen and (max-width:767px) {
    .circle-1{
        top: 35%;
        left: 16%;
        right: 16%;
    }
    .circle-2{
        top: 35%;
        left: 16%;
        right: 16%;
    }
    .circle-3{
        top: 35%;
        left: 16%;
        right: 16%;
    }
    .inner-content img{
        width: 90%;
    }
    .inner-content{
        top: 20%;
        left: 35%;
    }
}
@media screen and (max-width:480px) {
    .circle-1{
        top: 33%;
        left: 15%;
        right: 18%;
    }
    .circle-2{
        top: 35%;
        left: 15%;
        right: 18%;
       
    }
    .circle-3{
        top: 35%;
        left: 15%;
        right: 18%;
    }
    .inner-content{
        left: 30%;
    }
}
@media screen and (max-width:388px) {
    .circle-1{
        top: 25%;
        left: 15%;
        right: 18%;
    }
    .circle-2{
        top: 25%;
        left: 15%;
        right: 18%;
       
    }
    .circle-3{
        top: 25%;
        left: 15%;
        right: 18%;
    }
    .inner-content{
        left: 25%;
    }
}