.job-img {
        width: 200px !important;
        background-size: cover !important;
        height: 200px !important;
        margin: 0;
    }
    .job-content p {
        margin: 0;
        padding: 0;
    }
     
    .job-content p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #797995;
    }
    .job-experience p{
        color: #2697FF;
        font-size: 18px;
        font-weight: 600;
    }
    .job-details-btn{
        background-color: white;
        color: #2697FF;
        border: 2px solid  #2697FF;
        padding: 7px 20px;
        margin-bottom: 15px;
        border-radius: 5px;
    }
     

    .veiw-btn{
        color: #2697FF;
        border: 2px solid  #2697FF; 
        background-color: white;
        padding: 6px 7px;
        margin-left: 5px;
        border-radius: 5px;
    }
    .apply-btn{
        color: #fff;
        border: 2px solid  #2697FF; 
        background-color: #2697FF;
        padding: 6px 12px;
        margin-left: 5px;
        border-radius: 5px;
    }
    .job-content h5 {
        color: #797995;
        font-style: normal;
        font-weight: 600;        
        text-transform: capitalize;
        font-size: 18px;
    }
    @media screen and (max-width:604px) {
       .job-description {
        flex-direction: column;
        align-items: start;
       } 
       .job-experience p{
        font-size: 14px;
    }
    }
    @media screen and (max-width:388px) {
       .job-experience p{
        font-size: 11px;
    }
    }