 .dashboard{
    background: #EEF5FB;
    padding: 80px 0;
 }
 .dashboard h3{
   font-weight: 500;
   font-size: 40px;
   line-height: 30px;
   color: #1A1A2B;
 }
 .dashboard h6{
   font-size: 32px;
   line-height: 28px;
   color: #797995;
 }