/* .logo_img{
object-fit: contain;
} */


.user_img{
height: 50px;
width: 50px;
border-radius: 50%;
margin: 1.5px 0;
object-fit: contain;
}
.line{
height: 40px;
border: 1px solid #BFBFBF;
margin-right: 7px;
}
.header_link{
display: flex;
text-decoration: none;
color: #1A1A2B;
margin-top: 5px;
margin-right: 22px;
font-size: 16px;
font-weight: 400;
Line-height:19.36px;
font-family: 'Inter';
}
.header_link:hover,.header_link:focus{
color: black;
font-weight:600;
}
.login_btn:hover{
color: #1A1A2B;       
}

.login_btn{
border:2px solid #2697FF;
border-radius: 6px;
Line-height:19.36px;
background-color: #fff;
color:#2697FF;
font-size: 16px;
font-weight:600; 
width:120px;
height: 50px;
font-family: 'Inter';

}
.register_btn{
border:2px solid #2697FF;
border-radius: 6px;
width:120px;
height: 50px;
color: #fff;
background-color:#2697FF;
font-size: 16px;
font-weight:600; 
font-family: 'Inter';      
}
@media(max-width:980px){
.line{
height: 0px;
border: 0px solid #BFBFBF;
margin-right: 0px;
}
.register_btn{
margin-top: 3px;
}      
}

/* 
@media screen and (min-width:1411px){
.header_link{
font-size: 20px;
}
.register_btn{
font-size: 20px;
}
.login_btn{
font-size: 20px;      
}
} */