.header_link{
display: flex;
text-decoration: none;
color: #1A1A2B;
margin-top: 5px;
margin-right: 22px;
font-size: 16px;
font-weight: 400;
Line-height:19.36px;
}
.login_btn{
border:2px solid #2697FF;
border-radius: 6px;
padding:0.4rem 1.9rem;
background-color: #fff;
color:#2697FF;
font-size: 17px;
font-weight:500; 
}
.register_btn{
border:2px solid #2697FF;
border-radius: 6px;
padding:0.4rem 1.4rem;
color: #fff;
background-color:#2697FF;
font-size: 17px;
font-weight:500;       
}