.feaured_teachers{
display: grid;
grid-template-columns: repeat(5,1fr); 
}

.feaured_teachers div{
margin:5px 7px;
 
}
.feaured_teachers div h6{
margin-bottom: 10px;
}
.feaured_teachers div p{
 font-size: 12px;
 color: gray;
 line-height: 2px;
}
.feaured_teachers div img{
 object-fit: cover;
 
}
.shape-img{
    margin: 100px 0 30px 0;
}
 