.feaured_teachers{
display: grid;
grid-template-columns: repeat(5,1fr); 
}

.feaured_teachers div{
margin:5px 7px;
 
}
.feaured_teachers div h6{
margin-bottom: 0px;
}
.feaured_teachers div p{
 font-size: 12px;
 color: gray;
 margin:0;
 line-height: 12px;
}
.feaured_teachers div img{
 object-fit: cover;
 
}
.shape-img{
    margin: 100px 0 30px 0;
}
 .dot-top{
    color: #2697FF;
    font-size: 30px;
   margin-right: -10px;
   margin-left: -12px;
 }
 .dots{
color: #53AE32;
 }