.footer-section {
    background-color: #EEF5FB;
    padding: 65px 0;
}
.footer-section p {
    color: #797995;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 21px;
    margin: 0;
}
.footer-top-icon{
    color: #797995;
    font-size: 20px;
    margin-left: 20px;
}
.footer-section a{
    text-decoration: none;
    color: #797995;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 21px;
    margin-right: 45px;
}