.footer-section {
    background-color: #EEF5FB;
    padding: 65px 0;
    position: relative;
}
.footer-section p {
    color: #797995;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 21px;
    margin: 0;
}
.footer-top-icon{
    color: #797995;
    font-size: 20px;
    margin-left: 20px;
}
.footer-section a{
    text-decoration: none;
    color: #797995;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 21px;
    margin-left: 45px;

}
.top-bottom{
    position: absolute;
    top:-28px;
    left: 45%;
    right: 50%;
}
.footer-icon{
color: #797995;
font-size: 50px;
}
@media screen and (max-width:991px){
    .footer-section a{
        margin-right: 30px;
        margin-left: 0;
    }

}
@media screen and (max-width:767px){
    
.footer-section a{
    margin-right: 20px;
    margin-left: 0;

}
}